<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' https://cdn.jsdelivr.net http://localhost 'unsafe-inline'"

    />-->
    <title>Tanuki v. beta</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
